.fullPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: #0fa; */
  
  

}

.masterPlan {
  position: relative;
  background-image: url('../../images/plan.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 90% ;
  height: 90vh;
  /* background-color: rgb(255, 0, 119); */
  margin-top: 44px;

}


.secondaryClarifierP24 {
  cursor: pointer;
  opacity: 1;
  height: 4.5%; /* Adjust the size relative to the container */
  width: 2.9%; /* Adjust the size relative to the container */
  box-shadow: 0 0 14px #049dff, 0 0 5px #ff4304;
  margin: 0;
  position: absolute;
  top: 90.7%; /* Adjust the vertical position relative to the container */
  left: 36.7%; /* Adjust the horizontal position relative to the container */
  transform: translate(-50%, -50%);
}

/* Example for the name of the clickable location */
.name-secondaryClarifierP24 {
  position: absolute;
  right: 5%; /* Adjust the horizontal position relative to the container */
  bottom: 5%; /* Adjust the vertical position relative to the container */
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 1.5rem; /* Adjust the font size */
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}
.secondaryClarifierP24:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.secondaryClarifierP24:hover + .name-secondaryClarifierP24 {
  opacity: 1;
}
/* .wallText {
  position: relative;
  left: 330px;
  top: 15px;
  to redress later
} */
.arrow {
  width: 120px;
}

.line {
  margin-top: 14px;
  width: 90px;
  background: rgb(106, 106, 204);
  height: 10px;
  margin-left: 360px;
}

.point {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid rgb(106, 106, 204);
  margin-left: 450px;
  margin-top: -25px;
}
